#container {
    clear: both;
    margin-bottom: -341px;
    width: 100%;
    min-height: 1278px;
    min-width: 1440px;
    overflow: hidden;
}

#map {
    position: relative;
    padding-left: 476px;
    width: 964px;
    height: 800px;
    z-index: -1;
}

#top_gradient {
    position: absolute;
    top: 110px;
    height: 84px;
    min-width: 1440px;
    background-image: linear-gradient(to top, rgba(64, 66, 74, 0.23), #40424a);
    z-index: 1;
}

#container h1 {
    float: left;
    position: relative;
    top:   -618px;
    left: 140px;
    width: 629px;
    height: 300px;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 1.4px;
}

#red_button {
    position: relative;
    bottom: 213px;
    right: 487px;
    width: 223px;
    height: 47px;
}

#spb_dot {
    bottom: 675px; /*1073px;*/
    right: 481px;
}

#spb_topleft {
    bottom: 653px;
    right: 493px;
}

#spb_bottomleft {
    bottom: 626px;
    right: 474px;
}

#spb_topright {
    bottom: 686px;
    right: 389px;
}

#spb_bottomright {
    bottom: 613px;
    right: 394px;
}

#spb_text {
    bottom: 602px; /*996px;*/
    right: 16px;
}

#moskow_dot {
    bottom: 319px; /*319+398px*/
    right: 486px;
}

#moscow_text {
    bottom: 251px;
    right: 257px;
}

#bottom_gradient {
    position: relative;
    bottom: 157px;
    height: 132px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(64, 66, 74, 0.23), #40424a 98%);
}
